<!DOCTYPE html>
<html lang="en">
	<head>
		<tital></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="../assets/css/bootstrap-theme.min.css">
	</head>
	<body>
		<div class="container">
			<header class="row">
				<div class="span12">
					<nav class="navbar">
						<div class="navbar-inner">
							<a href="http://localhost:8080/kidsontrack/" class="brand">KidsOnTrack</a>
							<ul class="nav">
								<li class="divider-vertical"></li>
								<li><a href="http://localhost:8080/kidsontrack/">home</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</header>
			<div class="row" id="main-content">
				<div class="span4" id="sidebar">
					<div class="well">
						<form>
							<fieldset>
								<legend>login</legend>
								<input type="text" class="input-block-level" placeholder="Email">
								<input type="password" class="input-block-level" placeholder="Password">
								<label class="checkbox">
									<input type="checkbox">Remember Me
								</label>
								<div class="pull-right">
									<input type="submit" class="btn btn-primary" value="login">
									<a class="btn btn-info" href="#register" role="button" data-toggle="modal">register</a>
								</div>
							</fieldset>
						</form>
					</div>
				</div>

				<div class="span8"></div>

			</div>
			<footer class="row"></footer>
		</div><!-- End of Container -->
		
		<div id="register" class="modal hide fade" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
					<h3 id="modalLabel">Register</h3>
			</div>
			<div class="modal-body">
				<form>
					<div class="controls controls-row">
						<input type="text" class="span2" placeholder="First Name">
						<input type="text" class="span2" placeholder="Last Name">
						<select class="span1">
							<option>Teacher</option>
							<option>Student</option>
						</select>
					</div>
					<div class="controls control-group">
						<input type="text" class="span5" placeholder="Email">
						<input type="text" class="span5" placeholder="Confirm Email">
						<input type="text" class="span5" placeholder="Password">
						<input type="text" class="span5" placeholder="Confirm Password">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button class="btn btn-success">Register</button>
			</div>
		</div>

    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
	</body>
</html>