<!DOCTYPE html>
<html lang="en">
	<head>
		<tital></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="../assets/css/bootstrap-theme.min.css">
	</head>
	<body>
		<div class="container">
			<header class="row">
				<div class="span12">
					<nav class="navbar">
						<div class="navbar-inner">
							<a href="http://localhost:8080/kidsontrack/" class="brand">KidsOnTrack</a>
							<ul class="nav">
								<li class="divider-vertical"></li>
								<li><a href="http://localhost:8080/kidsontrack/">home</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</header>
			
			<footer class="row"></footer>
		</div><!-- End of Container -->
	
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
	</body>
</html>